.bookmark-panel id="bookmark-#{bookmark.id}"
  - if bookmark.user == current_user
    .bookmark-actions
      .pull-right
        .btn-group
          = link_to edit_category_bookmark_path(bookmark.category, bookmark), class: 'btn btn-default btn-sm' do
            span.ion-edit
          = button_to category_bookmark_path(bookmark.category, bookmark), method: 'delete', remote: true, class: 'btn btn-default btn-sm',  data: { disable_with: '...' } do
           span.ion-close-circled
  .bookmark-header
    = link_to category_bookmark_path(bookmark.category, bookmark), title: bookmark.title.humanize, class: 'direct-link' do
      = bookmark.title.humanize
    - if bookmark.icon
      = image_tag(bookmark.icon, class: 'bookmark-icon')
  .bookmark-body class=bookmark.page_type
    = render partial: "bookmarks/#{bookmark.page_type}", locals: { bookmark: bookmark }
    = timeago_tag bookmark.created_at, :nojs => true, :limit => 10.days.ago
