.panel.panel-default
  .panel-heading
    h4
      = @bookmark.title
  = simple_form_for([@bookmark.category, @bookmark], remote: true) do |f|
    .panel-body
        = f.input :title
        = f.input :description
        = f.input :site_name
        = f.input :url, as: :string, required: false, autofocus: true, input_html: { placeholder: 'COPY AND PASTE URL HERE' }
        = f.input :category_id, collection: @categories.map {|c| ["#{c.parent.name} -> #{c.name}", c.id]}, selected: @bookmark.category.id
        = f.input :private, as: :boolean, wrapper_html: { class: 'btn checkbox-btn mL5' }, label: '<span>PRIVATE (SAVE)</span>'.html_safe
        = f.input :public, as: :boolean, wrapper_html: { class: 'btn checkbox-btn mL5' }, label: '<span>PUBLIC (SHARE)</span>'.html_safe
        = f.input :broadcast, as: :boolean, wrapper_html: { class: 'btn checkbox-btn mL5' }, label: '<span>BROADCAST (POST)</span>'.html_safe
    .panel-footer
      = f.button :submit, 'UPDATE', class: 'btn btn-navy-blue btn-block mL5', data: { disable_with: 'UPDATING...' }