= simple_form_for([@sub_category || @parent_category || @category, @bookmark], remote: true) do |f|
  .input-group
    = f.input :url, as: :string, required: false, autofocus: true, input_html: { placeholder: 'COPY AND PASTE URL HERE' }, label: false
    .input-group-btn
      = f.input :private, as: :boolean, wrapper_html: { class: 'btn checkbox-btn mL5' }, label: '<span>SAVE</span>'.html_safe
      = f.input :public, as: :boolean, wrapper_html: { class: 'btn checkbox-btn mL5' }, label: '<span>SHARE</span>'.html_safe
      = f.input :broadcast, as: :boolean, wrapper_html: { class: 'btn checkbox-btn mL5' }, label: '<span>POST</span>'.html_safe
      = f.button :submit, 'DO IT', class: 'btn btn-navy-blue mL5', data: { disable_with: 'DOING IT...' }