- if bookmark.preview.present? && !bookmark.preview.empty?
  .carousel.slide data-ride='carousel' id="bookmark-slide-#{bookmark.id}" data-interval='100000'
    / Slides
    = link_to bookmark.url, target: '_blank', title: bookmark.title do
      .carousel-inner role='listbox'
        - bookmark.preview.each_with_index do |p, i|
          .item class="#{i==0 ? 'active' : nil}"
            = image_tag(p)
    / Controls
    - if bookmark.preview.size > 1
      .slide-controls
        .clearfix
          .pull-left
            = link_to "#bookmark-slide-#{bookmark.id}", class: 'left label label-primary mR10', role: 'button', data: { slide: 'prev' } do
              span.ion-arrow-left-b
              span.sr-only Prev
          .pull-right
            = link_to "#bookmark-slide-#{bookmark.id}", class: 'right label label-primary', role: 'button', data: { slide: 'next' } do
              span.ion-arrow-right-b
              span.sr-only Next
- else
  = link_to bookmark.url, target: '_blank', title: bookmark.title do
    p.no-preview.text-center No Preview