/ Preview
.bookmark-preview
  - if bookmark.video.present? && !bookmark.video.empty?
    iframe class="youtube-player" src="#{bookmark.video}" title="YouTube video player" frameborder="0" height="390" width="100%" allowfullscreen=''
  - else
    / Preview
    = render partial: 'bookmarks/preview', locals: { bookmark: bookmark }

.box.box-default
  .box-body
    = link_to category_bookmark_path(bookmark.category, bookmark), target: '_blank', title: bookmark.title, class: 'bookmark-site-link' do
      span
        = bookmark.title.humanize
    = link_to bookmark.url, target: '_blank', title: bookmark.title, class: 'bookmark-link' do
      span
        = bookmark.site_name
      / Description
      - if bookmark.description.present?
        p title=bookmark.description
          small
            = bookmark.description