/ Preview
.bookmark-preview
  = render partial: 'bookmarks/preview', locals: { bookmark: bookmark }

.box.box-default
  .box-body
    - if bookmark.title.present?
      = link_to category_bookmark_path(bookmark.category, bookmark), target: '_blank', title: bookmark.title, class: 'bookmark-site-link' do
        span
          = bookmark.title.humanize
      = link_to bookmark.url, target: '_blank', title: bookmark.title, class: 'bookmark-link' do
        span
          = bookmark.site_name
        p title=bookmark.description
          small
            = bookmark.description
