<% if @bookmark.errors.empty? %>
$('#category-link-list-<%= @category.id %>').prepend('<%= escape_javascript(render @bookmark) %>')
$('time').timeago()
<% @bookmark = Bookmark.new %>
<% end %>
$('.new-bookmark-form').html('<%= escape_javascript(render "form") %>')