.row.mT30
  .col-sm-6.col-sm-offset-3
    .btn-group
      = link_to :back, class: 'btn btn-default' do
        span.ion-arrow-left-a.mR10
        span Back
      = link_to category_bookmark_path(@bookmark.category, @bookmark), class: 'btn btn-default' do
        span.ion-arrow-right-a.mR10
        span View
  .col-sm-6.col-sm-offset-3#edit-bookmark.mT10
    = render 'edit_form'