.row.mT30
  .col-sm-6.col-sm-offset-3
    .btn-group
      = link_to :back, class: 'btn btn-default' do
        span.ion-arrow-left-a.mR10
        span Back
      - if @bookmark.user == current_user
        = link_to edit_category_bookmark_path(@bookmark.category, @bookmark), class: 'btn btn-default' do
          span.ion-edit.mR10
          span Edit
  .col-sm-6.col-sm-offset-3
    .previews.previews-block-view
      = render @bookmark