<% if @bookmark.errors.empty? %>
  _m.render_success('Successfully Updated <%= @bookmark.title %>')
  Turbolinks.visit('<%= category_bookmark_path(@bookmark.category, @bookmark) %>')
<% else %>
  $('#edit-bookmark').html('<%= escape_javascript(render "edit_form") %>')
<% end %>