.row.mT30
  .col-sm-6.col-sm-offset-3
    .panel.panel-default-dark
      .panel-heading
        h4 Sign up
      .panel-body
        = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          = f.error_notification

          .form-inputs
            = f.input :first_name, required: true, autofocus: true
            = f.input :last_name, required: true, autofocus: true
            = f.input :email, required: true, autofocus: true
            = f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length)
            = f.input :password_confirmation, required: true

          .form-actions
            = f.button :submit, "Sign up"

      .panel-footer
        = render "devise/shared/links"
