.row.mT30
  .col-sm-6.col-sm-offset-3
    .panel.panel-default-dark
      .panel-heading
        h4 Forgot your password?
      .panel-body
        = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
          = f.error_notification

          .form-inputs
            = f.input :email, required: true, autofocus: true

          .form-actions
            = f.button :submit, "Send me reset password instructions"
      .panel-footer
        = render "devise/shared/links"
