header.header
  .main-navigation
    = link_to '#', class: 'logo' do
      span UNIVERSE
    nav.navbar role='navigation'
      div.navbar-right
        ul.nav.navbar-nav
          li
            = link_to 'HOME', '#', title: 'Home'
          li
            = link_to 'FRIENDS', '#', title: 'Friends'
          li
            = link_to 'PROFILE', edit_profile_path(current_user), title: 'Profile'
          li.logout data-no-turbolink=''
            = link_to destroy_user_session_path, title: 'Logout' do
              span.ion-log-out
  .secondary-navigation
    nav.navbar role='navigation'
      ul.nav.navbar-nav
          li
            = main_nav_category_link_to(Category.shoe_box)
          li
            = main_nav_category_link_to(Category.favorites)
          li
            = main_nav_category_link_to(Category.top_10)
          li
            = main_nav_category_link_to(Category.desert_island)
          li
            = link_to '( THE UNIVERSE )', root_path, class: 'the-universe-link'
          li
            = main_nav_category_link_to(Category.guilty_pleasures)
          li
            = main_nav_category_link_to(Category.projects)
          li
            = main_nav_category_link_to(Category.bucket_list)
          li
            = main_nav_category_link_to(Category.shop)