.btn-group
  = link_to params.merge({view: 'grid-view'}), class: "btn btn-default #{params[:view] == 'grid-view' || params[:view].nil? ? 'active' : nil}" do
    span.glyphicon.glyphicon-th
  = link_to params.merge({view: 'list-grid-view'}), class: "btn btn-default #{params[:view] == 'list-grid-view' ? 'active' : nil}" do
    span.glyphicon.glyphicon-th-list
  = link_to params.merge({view: 'block-view'}), class: "btn btn-default #{params[:view] == 'block-view' ? 'active' : nil}" do
    span.glyphicon.glyphicon-picture