.clearfix
  .pull-right
    = render 'shared/preview_buttons'

.clearfix.previews-home-container
  .previews.previews-public.clearfix.mT20 class="#{params[:view] ? "previews-#{params[:view]}" : 'previews-grid-view'}"
    = render @bookmarks

- unless @bookmarks.empty?
  .clearfix.mT20.text-center
    = paginate @bookmarks