.row.mT30
  .col-sm-6.col-sm-offset-3
    .panel.panel-default-dark
      .panel-heading
        h4 Log in
      .panel-body
        = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          = render 'shared/flash'
          .form-inputs
            = f.input :email, required: false, autofocus: true
            = f.input :password, required: false
            = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
          .form-actions
            = f.button :submit, "Log in"
      .panel-footer
        = render "devise/shared/links"
