@import 'colors';

.new-bookmark-form {
  width: 70%;

  @media(max-width: 900px) {
    width: 90%;
  }

  @media(max-width: 768px) {
    width: 100%;
  }

  @media(max-width: 640px) {
    .input-group {
      width: 100%;

      .bookmark_url {
        &:before, &:after {
          content: " ";
          display: table;
          clear: both;
        }

        input {
          width: 100%;
        }
      }

      .input-group-btn {
        width: 100%;
        display: block;

        input[type="submit"] {
          float: right;
        }
      }
    }
  }
}

.new-bookmark-form-fixed {
  position: fixed;
  background: #fff;
  top: 70px;
  z-index: 23;
  right: 1%;
  left: 18%;
  padding: 10px 5px;

  @media(max-width: 900px) {
    display: none;
  }
}

.bookmark-panel {
  background: #ffffff;
  border: 1px solid #f1f1f1;
  border-bottom: 1px solid #ddd;

  @media(max-width: 500px) {
    margin-left: auto !important;
    margin-right: auto !important;
    float: none !important;
  }

  a {
    color: $black_color;

    &:hover, &:active, &:focus {
      color: $navy_blue_color;
      text-decoration: none;
    }
  }

  .bookmark-site-link {
    display: none;
  }

  .bookmark-header {

    .direct-link {
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-weight: normal;
      margin-top: 5px;
    }

    .bookmark-icon {
      width: 25px;
      height: 25px;
      margin-top: -10px;
    }
  }

  time {
    font-size: 50%;
    display: inline-block;
  }

  .carousel {
    .item {
      min-height: 150px;
      text-align: center;
      max-height: 380px;

      img {
        margin: auto;
      }
    }
  }

  .box {
    .box-body {
      border-left: 2px solid #ddd;
      padding: 5px;
      margin-bottom: 5px;
      min-height: 32px;
      font-size: 60%;

      p {
        margin: 0px;
      }
    }

    .box-footer {

    }
  }

  .btn {
    border-radius: 0px;
  }
}

.bookmark_url {
  &.has-error {
    .help-block {
      position: absolute;
      top: -25px;
    }
  }
}

.previews {
  max-width: 1320px;

  &.previews-grid-view {
    .bookmark-panel {
      width: 205px;
      float: left;
      height: 245px;
      overflow: hidden;
      margin: 5px 5px 20px 0;
      position: relative;
      padding: 5px;
      zoom: 1.1;

      &:hover {
        .bookmark-actions {
          display: block;
        }
      }

      .bookmark-actions {
        position: absolute;
        z-index: 2;
        right: 5px;
        top: 35px;
        display: none;
      }

      .bookmark-header {
        height: 30px;

        .direct-link {
          width: 168px;
          margin-top: 0px;
        }

        .bookmark-icon {
          width: 25px;
          height: 25px;
          margin-top: -10px;
        }
      }

      .bookmark-body {
        .bookmark-link {
          width: 185px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          display: inline-block;
        }

        .bookmark-preview {
          width: 194px;
          height: 155px;
          overflow: hidden;

          .carousel-inner {
            height: 155px;
          }

          .slide-controls {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;

            a {
              color: $white_color;
              background: $active_navigation_link_color;
            }
          }

          .no-preview {
            margin-top: 30px;
            height: 100px;
          }
        }

        p {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      time {
        display: block;
      }

      iframe {
        width: 195px;
        height: 150px;
      }
    }
  }

  &.previews-list-grid-view {
    .bookmark-panel {
      width: 205px;
      float: left;
      height: 130px;
      overflow: hidden;
      margin: 5px 5px 20px 0px;
      position: relative;
      zoom: 1.1;

      &:hover {
        .bookmark-actions {
          display: block;
        }
      }

      .bookmark-actions {
        position: absolute;
        z-index: 2;
        right: 5px;
        top: 38px;
        display: none;
      }

      .bookmark-site-link {
        font-size: 120%;
      }

      .bookmark-header {
        min-height: 15px;
        max-height: 30px;

        .direct-link {
          display: none;
        }

        .bookmark-icon {
          width: 25px;
          height: 25px;
          margin: 3px 3px 0px;
          float: right;
        }
      }

      .bookmark-body {
        .bookmark-link, .bookmark-site-link {
          width: 110px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          display: inline-block;
        }

        .box {
          width: 120px;
          float: left;
        }

        .bookmark-preview {
          width: 80px;
          height: 95px;
          overflow: hidden;
          float: left;
          text-align: center;
          padding: 5px;

          .carousel-inner {
            .item {
              min-height: 90px;
            }
          }

          .slide-controls {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 10px;

            a {
              color: $white_color;
              background: $active_navigation_link_color;
            }
          }

          .no-preview {
            margin-top: 30px;
          }
        }

        p {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      iframe {
        width: 70px;
        height: 55px;
      }
    }
  }

  &.previews-block-view {
    .bookmark-panel {
      width: 600px;
      min-height: 100px;
      overflow: hidden;
      margin: 5px auto;
      position: relative;

      @media(max-width: 900px) {
        width: 95%;
      }

      &:hover {
        .bookmark-actions {
          display: block;
        }
      }

      .bookmark-actions {
        position: absolute;
        z-index: 2;
        right: 17px;
        top: 45px;
        display: none;
      }

      .bookmark-header {
        height: 30px;
        margin-bottom: 5px;
        margin-left: 5px;

        .direct-link {
          width: 565px;
        }

        .bookmark-icon {
          width: 25px;
          height: 25px;
        }
      }

      .bookmark-body {
        .bookmark-link {
          width: 568px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          display: inline-block;
          margin-top: 5px;
        }

        .box {
          width: 580px;
          margin: 10px 9px 0;
          float: left;
        }

        .bookmark-preview {
          width: 599px;
          float: left;
          text-align: center;
          padding: 5px;

          .carousel-inner {
            .item {
              min-height: 90px;
              max-height: 100%;
            }
          }

          .slide-controls {
            position: absolute;
            left: 5px;
            right: 5px;
            bottom: 5px;

            a {
              color: $white_color;
              background: $active_navigation_link_color;
            }
          }

          .no-preview {
            margin-top: 30px;
          }
        }

        p {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        time {
          margin-left: 15px;
        }
      }

      iframe {
        width: 585px;
        height: 300px;
      }
    }
  }
}