@import 'colors';

.btn {
  font-weight: bold !important;

  &.btn-default {
    &:hover, &:active, &:focus, &.active {
      background: $active_button_color;
    }
  }

  &.btn-default-dark {
    background: $active_button_color;

    &:hover, &:active, &:focus, &.active {
      background: $white_color !important;
      color: $black_color !important;
    }
  }

  &.btn-white-color {
    color: $white_color;
  }

  &.btn-navy-blue {
    background: $navy_blue_color;
    color: $white_color;

    &:hover, &:active, &.active, &.btn-navy-blue[disabled] {
      background: $black_color !important;
      color: $white_color !important;
    }
  }
}

.btn-sub-category {
  float: left;
  position: relative;
  width: 150px;
  margin-left: 5px;
}

.btn-floating-group {
  .hidden-action {
    display: none;
  }

  .edit-category {
    right: 5px;
  }

  .delete-category {
    left: 5px;
  }

  &:hover {
    .hidden-action {
      display: block;
      width: 15px;
      position: absolute;
      margin-bottom: 3px;
    }
  }

  .btn-action {
    background: transparent;
    border: 0;
    padding: 0px;
    font-size: 75%;
    margin: 7px 0px;

    &:hover, &:active, &:focus &.active {
      background: $default_background_color;
      border-radius: 3px;
      color: $white_color;
    }
  }
}

.no-btn-group {
  form {
    button {
      background: transparent;
      border: 0;
      padding: 0;
    }
  }
}

.checkbox-btn {
  background-color: $active_button_color;
  border-radius: 4px;
  border:1px solid #D0D0D0;
  overflow:hidden;
  display: inline-block;
  padding: 0px !important;

  .checkbox {
    margin: 0px;

    label {
      float:left;
      position: relative;
      cursor: pointer;
      padding: 0px;

      &:hover {
        span {
          background: $white_color;
          color: $black_color;
        }
      }

      span {
        text-align: center;
        padding: 6px 12px;
        display: block;
        color: $white_color;
      }

      input {
        position:absolute;
        top: -30px;
      }

      input:checked + span {
        background-color: $white_color;
        color: $black_color;
      }
    }
  }
}
