.sub-categories-container {
  .category-actions {
    float: left;
    width: 160px;

    a {
      margin-bottom: 5px;
    }

    .btn-group {
      .btn {
        width: 54px;
        padding: 4px 12px;
      }
    }
  }

  .category-list {
    display: table;

    a {
      margin: 0px 5px 5px 0;
      width: 150px;
      overflow:  hidden;
      text-overflow: ellipsis;
    }
  }

  @media(max-width: 500px) {
    margin-left: 20px;
  }
}

.categories {
  #main-content {
    zoom: 1.1;
    margin-right: 215px;
    margin-left: 220px;

    @media(max-width: 500px) {
      margin-left: 0px;
    }
  }
}