@import 'colors';

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  zoom: 1.1;
  color: #fff; //param
  background: $default_background_color; //param
  z-index: 4;

  .logo {
    background: $default_background_color; //param
    //line-height: 45px;

    // .logo
    float: left;
    font-size: 16px;
    width: 150px; //param?
    height: 52px; //param
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;

    &:hover, &:active, &:focus {
      color: $white_color;
      text-decoration: none;
      background-color: $active_navigation_link_color !important;
    }
  }

  a {
    color: #fff !important;
    font-size: 12px;
    &:active, &.active {
      background-color: $active_navigation_link_color !important;
      text-decoration: none;
    }

    &:hover, &:focus {
      background: $white_color !important;
      color: $default_background_color !important;
    }
  }

  .navbar {
    min-height: 50px; //param
    margin-left: 220px;
    padding-left: 10px;
    margin-bottom: 0px;
    left: 0;
    right: 0;
    border: 0px;

    .navbar-nav {
      text-align: center;
      margin-bottom: 0px;
      float: none;
      li {
        display: inline-block;
        float: none;
      }
    }
  }

  .secondary-navigation {
    background: $black_color;
    zoom: 1.1;

    .secondary-nav-toggle {
      visibility: hidden;
    }

    nav {
      min-height: 35px;
      margin-left: 0px;
      text-align: center;
    }

    ul > li > a {
      display: block;

      @media(min-width: 700px) {
        padding: 9px 5px;
      }

      @media(min-width: 900px) {
        padding: 9px 1em;
      }

    }
  }

  .logout {
    padding-right: 10px;
    height: 52px;

    a {
      font-size: 18px;
      color: #fff;
    }

    a:hover {
      background: rgba(0, 0, 0, 0.1);
    }
  }
}

.header {
  .main-navigation {
    @media(max-width: 500px) {
      .logo {
        width: 100%;
      }

      .navbar {
        margin-left: 0px;
      }
    }
  }

  .secondary-navigation {
    @media(max-width: 780px) {

      .navbar {

        li {
        }
      }
    }
  }
}