.previews-home-container {
  .previews-grid-view {
    margin-left: 7%;
  }
}

.home {
  .wrapper {
    @media(max-width: 770px) {
      margin-top: 160px;
    }

    @media(max-width: 500px) {
      margin-top: 240px;
    }

    @media(max-width: 320px) {
      margin-top: 280px;
    }
  }
}