@import "bootstrap/variables";
@import 'colors';

body {
  font-weight: bold;
  background: #f9f9f9 !important;
}

.wrapper {
  margin-top: 110px; //param
}

#main-content {
  margin-left: 220px;

  .inner-body {
    margin-bottom: 20px;
  }

  @media(max-width: 1024px) {
    margin-top: 50px;
  }

  @media(max-width: 768px) {
    margin-top: 60px;
  }

  @media(max-width: 640px) {
    margin-top: 70px;
  }

  @media(max-width: 580px) {
    margin-top: 110px;
  }

  @media(max-width: 500px) {
    margin-top: 200px;
    margin-left: 0px;
  }

  @media(max-width: 380px) {
    margin-top: 200px;
  }

  @media(max-width: 320px) {
    margin-top: 190px;
  }
}

.panel {
  h4 {
    margin: 0;
  }
}

textarea {
  resize: none;
}

html.turbolinks-progress-bar::before {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: $navy_blue_color !important;
  height: 10px !important;
  z-index: 100000;
}


#page_limit {
  width: 50px;
  display: inline-block;
  height: 25px;
}