 .message-handler {
    position: fixed;
    z-index: 1055;
    top: 35%;
    left: 35%;
    min-width: 400px;
    max-width: 700px;

    ul {

      li {
        list-style: none;
        margin-bottom: 5px;
        color: #fff;

        &.box-success {
          background: #000;
        }

        &.box-failed {
          background: #dd4b39;
        }

        .box-body {
          padding: 10px 5px;

          p {
            font-size: 14px;
            color: #fff;
          }
        }

        a {
          color: #fff;
          margin-top: -10px;
        }
      }
    }
 }
