@import 'colors';

.pagination {
  .page, .next, .last, .prev, .first {
    border: 1px solid #ddd;
    padding: 1px 6px;
    margin: 0;
    text-align: center;
    display: inline-block;
    border-radius: 3px;
    background: $white_color;

    a {
      color: $navy_blue_color !important;
    }
  }

  .current {
    background: $navy_blue_color;
    color: $white_color;
  }
}