@import 'colors';

.panel {
  &.panel-default-dark {
    border-color: $default_background_color;

    .panel-heading {
      background-color: $default_background_color;
      color: $white_color;
      border-color: $default_background_color;
    }

    .panel-footer {
      background-color: $default_background_color;
      border-color: $default_background_color;

      p, a {
        color: $white_color;
      }
    }
  }
}