@import 'colors';

.sidebar {
  position: fixed;
  background: $white_color; //param
  z-index: 4;
  top: 105px;
  left: 0;
  width: 250px;
  height: 100%;

  &.on {
    visibility: visible;
  }

  &:hover {
    .jspVerticalBar {
      visibility: visible;
    }
  }

  .ion {
    width: 15px;
  }

  .sidebar-item {
    margin: 0;
    position: relative;
    width: 230px;

    &:first-child {
      margin-top: 10px;
    }

    .hidden-actions {
      width: 180px;
    }

    a {
      font-size: 110%;
      margin-bottom: 5px;
      width: 233px;
      overflow:  hidden;
      text-overflow: ellipsis;
    }
  }

  .sidebar-footer {
    width: 100%;
    position: absolute;
    bottom: 65px;
    font-size: 11px;
    color: rgba(255,255,255,0.4);

    p {
      text-align: center;
      margin: 0 0 10px;
    }
    a {
      color: #47b6ca;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  @media(max-width: 1024px) {
    top: 150px;
  }

  @media(max-width: 768px) {
    top: 170px;
  }

  @media(max-width: 640px) {
    top: 220px;
  }

  @media(max-width: 580px) {
    top: 265px;
  }

  @media(max-width: 500px) {
    top: 240px;
    visibility: hidden;
  }

  @media(max-width: 380px) {
    top: 250px;
  }

  @media(max-width: 320px) {
    top: 180px;
  }
}

.sidebar-toggle {
  display: none;

  @media(max-width: 500px) {
    top: 320px;
    position: fixed;
    left: 0;
    display: block;
    z-index: 3;
  }

  @media(max-width: 320px) {
    top: 290px;
  }

  a {
    border-radius: 0px;
  }

  &.on {
    margin-left: 250px;
  }
}