= simple_form_for(@category, remote: true) do |f|
  = f.input :name, required: true, autofocus: true
  = f.hidden_field :parent_id, value: @category.parent_id || @default_category.id
  = f.button :submit, 'Save', class: 'btn-block btn-default-dark btn-sm', data: { disable_with: 'Saving...' }