tr id="category-#{category.id}"
  td
    = link_to category.name, category_path(category)
  td
    - if category.user == current_user
      = button_to category_path(category), method: 'delete', remote: true, class: 'btn btn-danger btn-sm', data: { disable_with: 'Loading...' } do
        span DELETE