.modal.fade.modal-default id="category-modal#{@category.id}" role='dialog' tabindex='-1'
  .modal-dialog.default-position role='document'
    .modal-content
      .modal-body
        = render 'category_form'