= button_to edit_category_path(cat, format: :js), class: 'btn-action edit-category hidden-action', method: :get, remote: true do
  span.ion-edit
= button_to category_path(cat, format: :js), class: 'btn-action delete-category hidden-action', method: :delete, remote: true do
  span.ion-close-circled