= simple_form_for(@child_category, remote: true, url: sub_categories_path) do |f|
  = f.input :name, required: true, autofocus: true
  = f.hidden_field :parent_id, value: @child_category.parent_id || @parent_category.id
  = f.button :submit, 'Save', class: 'btn-block btn-default-dark btn-sm', data: { disable_with: 'Saving...' }