<% if @category.errors.empty? %>
  $('#main-categories .jspPane').append('<%= escape_javascript(render partial: "sidebar_category", locals: { cat: @category }) %>')
  $('#category-modal').modal('hide')
  sidebar()
  <% @category = Category.new %>
<% end %>
$('#category-modal .modal-body').html('<%= escape_javascript(render "category_form") %>')