<% if @category.errors.empty? %>
  var parentCategory = $('div#sidebar-category-<%= @category.id %>')
  var subCategory = $('div#sub-category-<%= @category.id %>')

  if (parentCategory.length == 1) {
    parentCategory.remove()
    sidebar()
  }

  <% if @category.parent.parent %>
    if(subCategory.length == 1) {
      subCategory.remove()
      Turbolinks.visit('<%= category_path(@category.parent.parent, category: @category.parent.name)%>')
    }
  <% end %>
<% end %>