.sidebar-toggle
  = link_to '#', class: 'btn btn-default btn-sm' do
    span.ion-navicon-round
.sidebar.pL10
  .new-category-form
    .sidebar-item
      = link_to '#', class: 'btn btn-sm btn-default', data: { toggle: 'modal', target: '#category-modal' } do
        span.ion-plus-round
        span.mL5 ADD CATEGORY
  #main-categories
    - unless @categories.empty?
      - @categories.each do |cat|
        = render partial: 'sidebar_category', locals: { cat: cat }

#main-content
  - if @parent_category
    .sub-categories-container.clearfix
      .category-actions
        = link_to '#', class: 'btn btn-sm btn-default btn-block', data: { toggle: 'modal', target: '#sub-category-modal'} do
          span.ion-plus-round
          span.mL5 ADD SUB CATEGORY
        = render 'shared/preview_buttons'
      .category-list
        - if @sub_categories
          - @sub_categories.each do |cat|
            = render partial: 'sub_category', locals: { cat: cat }
    / Bookmark field
    .new-bookmark-form.mT30.clearfix
      = render 'bookmarks/form'

    / links
    .link-list-container.previews.clearfix.mT20 id="category-link-list-#{@sub_category.try(:id) || @parent_category.try(:id)}" class="#{params[:view] ? "previews-#{params[:view]}" : 'previews-grid-view'}"
      - unless @bookmarks.empty?
        = render @bookmarks
    - unless @bookmarks.empty?
      .clearfix.mT20
        - if @bookmarks.total_pages > 1
          = render 'shared/page_limiter'
        = paginate @bookmarks
    = render 'sub_category_form_modal'
#modal-holder
= render 'category_form_modal'