<% if @child_category.errors.empty? %>
  $('.category-list').append('<%= escape_javascript(render partial: "sub_category", locals: { cat: @child_category }) %>')
  $('#sub-category-modal').modal('hide')
  <% @child_category = Category.new %>
<% end %>
$('#sub-category-modal .modal-body').html('<%= escape_javascript(render "sub_category_form") %>')