<% if @category.errors.empty? %>
  $('div#sidebar-category-<%= @category.id %>').replaceWith('<%= escape_javascript(render partial: 'sidebar_category', locals: { cat: @category }) %>')
  $('div#sub-category-<%= @category.id %>').replaceWith('<%= escape_javascript(render partial: 'sub_category', locals: { cat: @category }) %>')
  $('#category-modal<%= @category.id %>').modal('hide')
  setActiveCategories()
<% else %>
  $('#category-modal<%= @category.id %> .modal-body').html('<%= escape_javascript(render "category_form") %>')
<% end %>