.panel.panel-default
  .panel-heading
    h4 Basic Information
  = simple_form_for(@user, url: profile_path(@user), html: { method: :put }) do |f|
    .panel-body
      = f.error_notification
      = f.input :first_name, required: true, autofocus: true
      = f.input :last_name, required: true, autofocus: true
      = f.input :primary_photo, as: :file
      - if @user.primary_photo
        .col-sm-6.col-sm-offset-3
          .thumbnail
            = image_tag(@user.primary_photo.medium_grid)
            .caption.text-center
              p Current Primary Profile
    .panel-footer
      = f.submit "Update Basic Information", class: 'btn btn-navy-blue btn-block', data: { disable_with: 'Please wait...' }