.panel.panel-default
  .panel-heading
    h4 Security Settings
  = simple_form_for(@user, url: update_password_profile_path(@user), remote: true, html: { method: :put }) do |f|
    .panel-body
      = f.error_notification
      = f.input :reset_password_token, as: :hidden
      = f.full_error :reset_password_token
      = f.input :current_password, required: true, autofocus: true
      = f.input :password, label: "New password", required: true, autofocus: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length)
      = f.input :password_confirmation, label: "Confirm your new password", required: true
    .panel-footer
      = f.submit "Change my password", class: 'btn btn-danger btn-block', data: { disable_with: 'Please wait...' }