.row
  .col-sm-12.mB20
    .btn-group
      = link_to :back, class: 'btn btn-default' do
        span.ion-arrow-left-a.mR10
        span Back
  .col-sm-6
    #basic-information-form-holder
      = render 'basic_information_form'
  .col-sm-6
    #security-form-holder
      = render 'security_settings_form'