.row
  .col-sm-6.col-sm-offset-3
    .panel.panel-default
      .panel-heading
        h4
          = @user.full_name
      .panel-body
        .row
          .col-sm-4
            .thumbnail
              - if @user.primary_photo
                = image_tag(@user.primary_photo.medium_grid)
          .col-sm-8
            .row
              .col-sm-12
                p
                  strong First Name:
                  span.mL10 = @user.first_name
              .col-sm-12
                p
                  strong Last Name:
                  span.mL10 = @user.last_name
              .col-sm-12
                p
                  strong Email:
                  span.mL10 = @user.email
      .panel-footer
        = link_to edit_profile_path(current_user), class: 'btn btn-navy-blue' do
          span.ion-edit.mR10
          span Edit