$('#security-form-holder').html('<%= escape_javascript(render "profile/security_settings_form") %>')
<% if @user.errors.empty? %>
  _m.render_success('Successfully updated your Credentials')
<% else %>
  _m.render_error('Failed to update your security settings.')
  $('.has-error input, .has-error select, .has-error textarea').focus()
<% end %>