doctype html
html
  head
    meta name='viewport' content='initial-scale=1.0, width=device-width'
    title = site_title(yield(:title))
    = favicon_link_tag 'favicon.png'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags
body class=controller_name
  = query_diet_widget(:bad_count => 20, :bad_time => 1000) if Rails.env.development?
  = render 'shared/header'
  .wrapper
    .container-fluid
      .flash-messages
        = render 'shared/flash'
      = yield
  footer
    = render 'shared/footer'
  = Gon::Base.render_data
  = javascript_include_tag 'application', 'data-turbolinks-track' => true, 'data-turbolinks-eval' => false